/************************************** Datatable *******************************/
/********************************************************************************/

/*************** Table *******************/

table.dataTable tbody td:nth-child(1) {
  width: 10% !important;
  max-width: 10% !important;
  min-width: 10% !important;
  font-weight: bold;
  color: #63a3dc;
}

table.dataTable tbody td:nth-child(2) {
  width: 10% !important;
  max-width: 10% !important;
  min-width: 10% !important;
  color: #63a3dc;
}

table.dataTable tbody td:nth-child(3) {
  width: 20% !important;
  max-width: 20% !important;
  min-width: 20% !important;
  color: #63a3dc;
}

table.dataTable tbody td:nth-child(4) {
  width: 30% !important;
  max-width: 30% !important;
  min-width: 30% !important;
}

table.dataTable tbody td:nth-child(5) {
  width: 10% !important;
  max-width: 10% !important;
  min-width: 10% !important;
}

table.dataTable tbody td:nth-child(6) {
  width: 10% !important;
  max-width: 10% !important;
  min-width: 10% !important;
}

table.dataTable tbody td:nth-child(7) {
  width: 10% !important;
  max-width: 10% !important;
  min-width: 10% !important;
}

/********************************************************************************/
/************************************ Fin Datatable *****************************/
