/************************************** Datatable *******************************/
/********************************************************************************/

/*************** Table *******************/

table.dataTable tbody td:nth-child(1) {
  width: 8% !important;
  max-width: 8% !important;
  min-width: 8% !important;
}

table.dataTable tbody td:nth-child(2) {
  width: 7% !important;
  max-width: 7% !important;
  min-width: 7% !important;
  font-weight: bold;
  color: #63a3dc;
}

table.dataTable tbody td:nth-child(3) {
  width: 22% !important;
  max-width: 22% !important;
  min-width: 22% !important;
  color: #63a3dc;
  text-align: left !important;
}

table.dataTable tbody td:nth-child(4) {
  width: 28% !important;
  max-width: 28% !important;
  min-width: 28% !important;
  color: #63a3dc;
  text-align: left !important;
}

table.dataTable tbody td:nth-child(5) {
  width: 15% !important;
  max-width: 15% !important;
  min-width: 15% !important;
}

table.dataTable tbody td:nth-child(6) {
  width: 3% !important;
  max-width: 3% !important;
  min-width: 3% !important;
}

table.dataTable tbody td:nth-child(7) {
  width: 14% !important;
  max-width: 14% !important;
  min-width: 14% !important;
}

table.dataTable tbody td:nth-child(8) {
  width: 3% !important;
  max-width: 3% !important;
  min-width: 3% !important;
}

/********************************************************************************/
/************************************ Fin Datatable *****************************/
